# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
report.xslt
scripts/src/
dist/
local/
build_lib/
lib/build/
data/seed/~$SeedData.xlsx
client/node_modules/
client/src/lib/
client/build/
client/src/data/stubReduxState.json
client/_.env.local
data/seed/seed copy.json
data/seed/~$SeedData_water.xlsx
data/seed/~$SeedData_soil.xlsx
data/seed/seed.json
